.login {
    height: 100vh;
    background: radial-gradient(circle,#1f1c2c,#928dab);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }
  
  .login h1 {
    margin-bottom: 40px;
    font-size: 40px;
  }
  
  .login button {
    padding: 15px 50px;
    border-radius: 40px;
    border: none;
    font-size: 18px;
    background: linear-gradient(90deg,#ff512f,#dd2476);
    color: white;
    cursor: pointer;
  }